.shop-category-index{
    display: flex;
    margin: 0 170px;
    justify-content: space-between;
    align-items: center;
}

.shop-category-index p span{
    font-weight: 600;
}

.shop-category-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shop-category-sort img{
    height: 15px;
    margin-bottom: -4px;
}

.shop-category-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 90px;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}

@media(max-width:1290px){
    .shop-category-index{
        width: 90%;
        margin: auto;
    }
    .shop-category-index p{
        font-size: 12px;
    }
    .shop-category-sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .shop-category-products{
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }
    .shop-category-products .item{
        margin: auto;
    }
    .shopcategory-loadmore{
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}

@media(max-width:800px){
    .shop-category-products{
        width: 95%;
    }
    .shopcategory-loadmore{
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
}

@media(max-width:500px){
    .shop-category-products{
        grid-template-columns: 1fr 1fr;
    }
}